[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
psycopg2-binary = "*"
uwsgi = "*"
brotlipy = "*"
dj-database-url = "*"
bs4 = "*"
lxml = "*"
django-daterange-filter = "*"
django-haystack = "*"
django-redis = "*"
feedparser = "*"
hiredis = "*"
msgpack-python = "*"
whitenoise = "*"
webtest = "*"

[requires]
python_version = "3.7"
