asgiref==3.5.0; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.6"
attrs==21.4.0; python_full_version >= "3.6.7" and python_version >= "3.6"
autobahn==22.3.2; python_version >= "3.7"
automat==20.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
beautifulsoup4==4.10.0; python_full_version > "3.0.0"
brotlipy==0.7.0
cffi==1.15.0; python_version >= "3.7"
channels==3.0.4; python_version >= "3.6"
constantly==15.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
cryptography==36.0.2; python_full_version >= "3.6.7" and python_version >= "3.7"
daphne==3.0.2; python_version >= "3.6"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
dj-database-url==0.5.0
django-haystack==3.1.1
django-redis==5.2.0; python_version >= "3.6"
django==3.2.12; python_version >= "3.6"
feedparser==6.0.8; python_version >= "3.6"
hiredis==2.0.0; python_version >= "3.6"
hyperlink==21.0.0; python_full_version >= "3.6.7" and python_version >= "3.7"
idna==3.3; python_full_version >= "3.6.7" and python_version >= "3.7"
incremental==21.3.0; python_full_version >= "3.6.7" and python_version >= "3.6"
lxml==4.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
msgpack-python==0.5.6
packaging==21.3; python_version >= "3.6"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyasn1-modules==0.2.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pyasn1==0.4.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pycparser==2.21; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyopenssl==22.0.0; python_full_version >= "3.6.7" and python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pytz==2022.1; python_version >= "3.6"
redis==4.2.2; python_version >= "3.6"
service-identity==21.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
sgmllib3k==1.0.0; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.7" and python_version >= "3.6"
soupsieve==2.3.2; python_version >= "3.6" and python_full_version > "3.0.0"
sqlparse==0.4.2; python_version >= "3.6"
twisted-iocpsupport==1.0.2; python_full_version >= "3.6.7" and python_version >= "3.6" and platform_system == "Windows"
twisted==22.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
txaio==22.2.1; python_version >= "3.7"
typing-extensions==4.1.1; python_full_version >= "3.6.7" and python_version >= "3.6"
wrapt==1.14.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
zope.interface==5.4.0; python_full_version >= "3.6.7" and python_version >= "3.6"
