asgiref==3.5.0; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.6"
beautifulsoup4==4.10.0; python_full_version > "3.0.0"
brotlipy==0.7.0
cffi==1.15.0
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
dj-database-url==0.5.0
django-haystack==3.1.1
django-redis==5.2.0; python_version >= "3.6"
django==3.2.12; python_version >= "3.6"
feedparser==6.0.8; python_version >= "3.6"
hiredis==2.0.0; python_version >= "3.6"
lxml==4.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
msgpack-python==0.5.6
packaging==21.3; python_version >= "3.6"
psycopg2-binary==2.9.3; python_version >= "3.6"
pycparser==2.21; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyparsing==3.0.7; python_version >= "3.6"
pytz==2022.1; python_version >= "3.6"
redis==4.2.1; python_version >= "3.6"
sgmllib3k==1.0.0; python_version >= "3.6"
soupsieve==2.3.1; python_version >= "3.6" and python_full_version > "3.0.0"
sqlparse==0.4.2; python_version >= "3.6"
uwsgi==2.0.20
wrapt==1.14.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
