{%  extends "base.html" %}

{% block content %}
    <p><h2>JOBHUNTR</h2></p>

    <p><b>"Get a job."</b></p>

    <p>
        <a href="{%  url "countries" %}" target="_blank">Countries Indexed</a>
    </p>
    <p>

            <strike>Hint: Use <a href="https://www.youtube.com/watch?v=xsSZps3NH-M" target="_blank">Boolean Operators</a> (*Must be capitals)<br>
                Example: Manager NOT Finance AND (KE OR United Nations OR UAE OR United States OR HK)<br></strike>
            (Needs a better search backend for boolean search to work)<br>

    </p>

    <form method="get">

        <div class="form-group">
            <input type="search" name="q" id="id_q" class="form-control" value="{{ query }}">
        </div>
        <button type="submit" class="btn btn-success">SEARCH</button>

    </form>

    <hr>

    {% if query %}
        {% if page.paginator.count > 0 %}
            <h4>{{ page.object_list|length }} of {{ page.paginator.count }} result{{page.paginator.count|pluralize}} <|> {{ page.number }} of {{ page.paginator.num_pages }} page{{ page.paginator.num_pages|pluralize }}</h4>
        {% else %}
            <h3>No results</h3>
        {% endif %}
        <h3>{{page.count}}</h3>
        <table class="table">
        {% for result in page.object_list reversed %}
            <tr>
                <td><a href="{{ result.object.url }}">{{ result.object.title }}</a></td>
                <td>Age: {{ result.object.added_on|timesince }} </td>
                <td>Country: {{ result.object.source.country.name }}</td>
            </tr>
        {% comment %}{% empty %}
            <tr>
                <td>No results found.</td>
            </tr> {% endcomment %}
        {% endfor %}
        </table>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}
