<!DOCTYPE html>
    <html lang="en">
        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>Jobhuntr</title>
            <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "css/jobhuntr.css" %}">
            <script src="{% static "js/jquery-1.11.3.min.js" %}></script>
            <script src="{% static "js/jobhuntr.js" %}></script>

        </head>
        <body>

            <div class="container">

                {% block body %}{% endblock %}

            </div>

        </body>
    </html>